:root {
  --color-1: white;
  --color-2: beige;
  --color-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6),
    -2px -2px 4px rgba(205, 205, 205, 0.6);
  --timing: 400ms ease-in;
}

html,
body {
  width: 100%;
  height: 100%;
  background-color: beige;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Times New Roman', Times, serif;
}

.container {
  width: 700px;
  max-width: 100%;
  display: flex;
  flex-direction: column;
  margin: auto;
  min-height: 100%;
  /*height: 100%;*/
  text-align: center;
  background-color: #fff;
  position: relative;
}

header {
  width: 100%;
  margin: 0 0 10px;
  text-align: center;
  box-shadow: var(--color-shadow);
}

p.logo,
h1.title {
  margin: 5px auto 0;
  display: inline-block;
  text-transform: capitalize;
  height: 54px;
  overflow: hidden;
}

h1.title{
  padding-top: 15px;
  text-shadow: 2px 0px 0px grey;
}

p.logo img {
  width: 50px;
  height: 50px;
  object-fit: contain;
}

nav.opts {
  display: flex;
  justify-content: center;
  align-items: center;
}

.opts div {
  height: 30px;
  flex: 1;
  text-align: center;
  text-transform: capitalize;
  margin-top: 7px;
  padding: 5px;
  font-weight: bold;
}

.opts div:hover,
div.open {
  border-bottom: 3px solid indigo;
  color: white;
  background: #3C1E6F5E;
}

aside.content {
  width: 95%;
  box-shadow: var(--color-shadow);
  margin: auto;
  text-align: center;
  border-radius: 10px;
  flex: 0.95;
  overflow-y: scroll;
}

article.creation,
article.creationApp {
  border-radius: 20px;
  box-shadow: var(--color-shadow);
  width: 75%;
  margin: 30px auto;
  overflow: hidden;
  display: block;
  position: relative;
}

.creation img,
.creationApp img {
  display: block;
  width: 90%;
  height: 80%;
  object-fit: contain;
  margin: 7px auto;
}

.creation>h2,
.creationApp>h2 {
  height: calc(20% - 14px);
  font-weight: bolder;
  text-transform: capitalize;
}

h2 a {
  color: #000;
}

.creation div.description,
.creationApp div.description {
  display: block;
  width: 100%;
  height: 100%;
  border-radius: 20px;
  background: radial-gradient(white, indigo 85%, navy);
  overflow: scroll;
  -webkit-transition: all var(--timing);
  transition: all var(--timing);
  text-transform: capitalize;
  font-size: 17px;
}

.creation img:hover+h2+div.description,
.creationApp img:hover+h2+div.description {
  /*  transform: translateY(var(--transHeight));*/

  transform: translateY(-102%);
}

article.creationApp .version,article.creation .type{
  background-color: #5216859E;
  width: 60px;
  height: 60px;
  border-radius: 0 0 0 100%;
  position: absolute;
  right: 0;
  text-align: center;
  padding: 15px 0 0 0;
  font-weight: bolder;
  font-style: italic;
  color: #fff;
  text-transform: capitalize;
}

div h2 {
  margin: 5px auto;
}

div footer.foot {
  margin-top: 7px;
  align-self: baseline;
  text-align: center;
  width: 100%;
  box-shadow: var(--color-shadow);
}

.foot ul {
  list-style-type: none;
  width: 90%;
  display: flex;
  padding: 0;
  justify-content: space-around;
  margin: auto;
  margin-bottom: 7px;
}

.foot ul li {
  display: inline-block;
  font-size: 25px;
}

.copyright,
.account {
  text-align: center;
  padding: 5px 0 0 5px;
  font-weight: bolder;
  margin: 3px;
}

ul .fa-google {
  color: orange;
}

ul .fa-whatsapp {
  color: green;
}

ul .fa-facebook {
  color: blue;
}

ul .fa-github {
  color: #000;
}

ul .fa-linkedin {
  color: blue;
}

ul .fa-phone-alt {
  color: #000;
  font-size: 23px;
}

ul .fa-youtube {
  color: red;
}

div.info{
  position: fixed;
  top: 85vh;
  left: 80%;
  width: 52px;
  height: 52px;
  border-radius: 50%;
  background: #9C40A9B8;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--color-1);
  font-size: 35px;
  z-index: 100;
  transition: var(--timing);
}

div.info:hover{
  box-shadow: var(--color-shadow);
  transform: scale(1.2);
}

.bio-cover{
  width: 100vw;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.5);
  display: none;
  align-items: center;
  align-items: center;
}

.bio{
  margin: 10px auto;
  width: 90%;
  border-radius: 25px 0;
  padding: 5px;
  box-shadow: var(--color-shadow);
  background: var(--color-2);
}

.bio{
  border: none;
  text-align: justify;
}

.bio legend,legend img{
  text-align: center;
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

legend img{
  object-fit: contain;
}

.bio p{
  margin: auto;
  padding: 2px;
  text-transform: capitalize;
}

.bio p:not(.sign)::first-letter{
  font-size: 30px;
  font-weight: bold;
  padding: 0 0 0 34px;
}

.bio p.sign{
  text-align: center;
  font-weight: bold;
  letter-spacing: 2px;
  font-style: italic;
  margin: 7px auto;
  text-shadow: 5px 3px 1px rgba(0, 0, 0, 0.6);
}

.bio p a{
  text-decoration: none;
  font-weight: bold;
  color: var(--primary-color);
}

.bio p .name{
  font-family: cursive;
  font-size: 20px;
  font-weight: bold;
}

.bio p span{
  color: indigo;
}

.bio p span:not(.name){
  background-color: #f1f1f1;
  opacity: 0.5;
  margin: 2px;
}